/To-do List.app/Contents/Resources/AppIcon.icns
/To-do List.app/Contents/Resources/AppSettings.plist
/To-do List.app/Contents/Resources/MainMenu.nib/designable.nib
/Assets/exe_image.jpeg
/To-do List.app/Contents/Resources/functions.py
/To-do List.app/Contents/Info.plist
/To-do List.app/Contents/Resources/MainMenu.nib/keyedobjects.nib
/To-do List.app/Contents/Resources/MainMenu.nib/keyedobjects-101300.nib
/To-do List.app/Contents/Resources/script
/To-do List.app/Contents/MacOS/To-do List
